@use '../variables' as *;
@use '../typography' as *;
@use '../mixins' as *;


.markdown-content {
  > :last-child {
    margin-bottom: unset;
  }

  word-break: break-word;

  hr {
    display: none;
  }

  > p:has(+ p) {
    margin-bottom: var(--spacing-s);
  }

  > p:has(+ ul) {
    margin-bottom: var(--spacing-xs);
  }

  > p:has(+ ol) {
    margin-bottom: var(--spacing-xs);
  }

  > p:has(+ .code-block),
  > ul:has(+ .code-block),
  > ol:has(+ .code-block) {
    margin-bottom: var(--spacing-s);
  }

  strong,
  b {
    font-weight: 700;
  }

  i,
  em {
    font-style: italic;
  }

  > p {
    @include body-regular;

    color: var(--content-neutral-secondary);
    margin-bottom: 60px;

    @include for-mobile-screen-sizes {
      margin-bottom: 40px;
    }
  }

  ul,
  ol,
  b,
  strong,
  p,
  figcaption,
  span,
  blockquote {
    a {
      @include link-inline-m;

      color: var(--content-neutral-primary);
      opacity: 1;
      transition: opacity $duration-hover;

      @include for-hover-state {
        opacity: 0.6;
      }

      &:visited {
        color: var(--content-neutral-secondary);
      }
    }
  }

  > h1 {
    :not(.changelog-article__content) {
      @include heading-h1;

      color: var(--content-neutral-primary);
      margin-bottom: var(--spacing-l);
    }
  }

  > h2 {
    @include heading-h2;

    color: var(--content-neutral-primary);
    margin-bottom: var(--spacing-l);
    position: relative;
    &:before {
      content: '#';
      position: absolute;
      color: var(--content-accent-primary);
      font-family: 'Berkeley Mono', monospace;
      font-weight: 400;
      letter-spacing: -0.06rem;
      transform: translate(-100%, 0);
      left: -12px;
    }
    @include for-tablet-screen-sizes {
      &:before {
        content: '';
      }
    }
  }

  > h3 {
    @include heading-h3;

    color: var(--content-neutral-primary);
    margin-bottom: var(--spacing-s);
  }

  > h4 {
    @include heading-h4;

    color: var(--content-neutral-primary);
    margin-bottom: var(--spacing-xs);
  }

  > h5 {
    @include heading-h5;

    color: var(--content-neutral-primary);
    margin-bottom: var(--spacing-xs);
  }

  > h6 {
    @include heading-h6;

    color: var(--content-neutral-primary);
    margin-bottom: var(--spacing-xs);
  }

  code {
    @include code-m;

    border: 0.5px solid var(--color-border-neutral-low-contrast);
    padding: 2px;
    color: var(--content-accent-primary);
    background-color: var(--background-secondary);
    border-radius: $radii-s;
    text-wrap: nowrap;
  }


  p > code, strong > code {
      font-family: 'Berkeley Mono', monospace;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: -0.04em;
      border: 0.5px solid var(--color-border-neutral-low-contrast);
      padding: 2px 6px;
      color: var(--content-neutral-primary);
      background-color: var(--background-secondary);
      border-radius: 4px;
      white-space: nowrap;
  }



  > blockquote {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding-left: var(--spacing-m);
    margin: var(--spacing-xl) 0;
    border-left: $border-neutral-low-medium;

    > * {
      @include body-highlighted;

      color: var(--content-neutral-primary);
    }


    @include for-mobile-screen-sizes {
      margin: 43px 0 39px;
    }

    & svg path {
      fill: var(--content-accent-primary);
    }

    code {
        background-color: var(--background-secondary);
        padding: 0.14rem 0.4rem;
        border-radius: 4px;
        font-size: 0.8rem;
        font-style: normal;
    }

    .author-handle {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.01rem;
      color: var(--content-neutral-secondary);
      display: flex;
      gap: 15px;
      text-transform: uppercase;
      font-family: 'Berkeley Mono', monospace;
      padding-top: 4px;

      @include for-tablet-screen-sizes {
        margin-top: 14px;
      }
    }
  }
  > .table-wrapper {
    position: relative;

    @include for-mobile-screen-sizes {

      &:after {
        content: '';
        position: absolute;
        width: 90px;
        background: linear-gradient(270deg, var(--background-primary) 12.5%, rgba(10, 10, 10, 0.00) 100%);
        right: 0;
        bottom: 0;
        height: 100%;
        pointer-events: none;
      }
    }

    > table {
      border-collapse: collapse;
      color: var(--content-neutral-primary);
      width: 100%;

      @include for-mobile-screen-sizes {
        display: block;
        max-width: fit-content;
        overflow-x: auto;
        white-space: nowrap;
        padding-right: 25px;
      }

      th,
      td {
        padding: var(--spacing-xxs) var(--spacing-l) var(--spacing-xxs) 0;
        text-align: left;
        word-break: break-word;
      }

      td {
        @include body-regular;

        color: var(--content-neutral-primary);
        border-bottom: $border-neutral-low;
      }

      th {
        @include caption-all-caps;

        color: var(--content-neutral-primary);
        border-bottom: $border-neutral-low-thick;
      }
    }
  }

  > ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
    list-style-type: decimal;
    margin-bottom: 60px;
    margin-left: 20px;

    ::marker {
      @include body-regular;

      color: var(--content-neutral-secondary);
    }

    @include for-mobile-screen-sizes {
      margin-bottom: 40px;
    }

    p {
      @include body-regular;

      color: var(--content-neutral-secondary);
    }

    a {
      text-decoration: underline;
      transition: opacity $duration-hover;

      @include for-hover-state {
        opacity: 0.6;
      }
    }

    > li {
      > ul {
        margin-bottom: var(--spacing-xxs);
      }
    }
  }

  > ul {
    // background: var(--background-secondary);
    padding: 0px 10px 10px 16px;
    margin-bottom: 6px;
    margin-top: 0;
    list-style-image: url(/src/assets/icons/facts.svg);

    @include for-mobile-screen-sizes {
      margin-bottom: 40px;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxs);
      list-style: none;
      margin-bottom: var(--spacing-l);

      p {
        @include body-regular;

        color: var(--content-neutral-secondary);
      }

      a {
        text-decoration: underline;
        transition: opacity $duration-hover;

        @include for-hover-state {
          opacity: 0.6;
        }
      }

      li {
        display: flex;
        gap: 10px;
        align-items: baseline;

        &::before {
          line-height: 1.9;
          content: '-';
          color: var(--content-neutral-primary);
        }
      }

      li > ul {
        padding: 0 15px;
        margin: 0;

        li::before {
          content: '-';
          color: var(--content-neutral-primary);
        }
      }
    }
  }


  > details.idp-details {
    cursor: pointer;
    pointer-events:all;
    padding:0.6rem 0;
    color: var(--content-neutral-primary);
    margin:1.4rem 0;
    border-top: 1px solid #2ecc71;
    border-bottom: 1px solid #2ecc71;
  }

  .container {
    border:1px solid #2ecc71;
    margin: 1.2rem auto 0.6rem;
  }

  .keyboard-shortcut {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.015rem;;
    border:1px solid var(--content-neutral-secondary);
    border-radius: 3px;
    box-shadow: 0 1px 0 0 var(--content-neutral-secondary);
    padding: 0.8px 6px;
    color: var(--content-neutral-primary);
  }

  .container tbody {
    width: 100%;
  }
  .container tr {
    display: flexbox;
  }

  .container td, th {
    padding: 6px 16px;
    text-align: center;
    color: var(--content-neutral-primary);
  }


  .table-color tr:nth-child(even) {
    background-color: var(--cta-surface-neutral-primary);
  }

  .table-color tr > td:nth-child(1) {
    height: 100%;
  }

  .table-row {
    display: flex;

  }


  > details[open]{
    border-top: 0;
    border-bottom:0;
    transition-duration: 250ms;
    cursor:auto;
  }

  > details[open] > summary {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }

  .starlight-aside {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    border-inline-start: 2px solid;
    background-color: var(--background-secondary);
    a {
      font-family: Inter, sans-serif;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.6;
      letter-spacing: -0.01em;
      text-decoration: underline;

      color: var(--content-neutral-primary);
      opacity: 1;
      transition: opacity 0.6s;

      @include for-hover-state {
          opacity: 0.6;
      }
    }
    &__title {
      font-family: 'Berkeley Mono', monospace;
      font-size: 1rem;
      line-height: 1.4;
      letter-spacing: -0.04em;
      text-transform: capitalize;
      color: var(--content-neutral-primary);
      > svg {
        width: 1rem;
        height: 1rem;
      }
    }
    &__content {
      margin: 24px 0 0 0;
      padding: 0;

    }
    &--note{
      border-color: var(--blue-code-text);
      .starlight-aside__icon {
        color: var(--blue-code-text);
      }
    }
    &--tip{
      border-color: var(--content-accent-primary);
      .starlight-aside__icon {
        color: var(--content-accent-primary);
      }
    }
    &--caution{
      border-color: var(--system-error);
      .starlight-aside__icon {
        color: var(--system-error);
      }
    }
    &--danger{
      border-color: var(--system-error);
      .starlight-aside__icon {
        color: var(--system-error);
      }
    }

  }

  .expressive-code {
    //padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .expressive-code {
    border: 1px solid var(--color-border-neutral-low-contrast);
    border-radius: 3px;

    .frame.is-terminal {
      .header {

        border: none;
        background: var(--background-primary);
        border-bottom: 1px solid var(--color-border-neutral-low-contrast);
        color: var(--content-neutral-secondary);

        &:before {
          left: 8px;
          height: 8px;
          opacity: 1;
          background-color: var(--color-border-neutral-low-contrast);
        }

        &:after {
          content: none;
        }
      }

      .copy {
        --button-spacing: 44px;
      }
    }
    .copy .feedback {
      background-color: var(--content-accent-primary);
      &:after {
        border-inline-start-color: var(--content-accent-primary);
      }
    }

    .frame pre {
      background: var(--background-primary);
    }
    pre {
      border: none;
      width: calc(100% - 32px);
      background-color: var(--color-background-transparent) !important;
      margin: 0;
      word-break: break-all;
      white-space: pre-wrap;
    }
     pre > code {
      padding: 16px 0;
    }
    .ec-line {
      font-family: 'Berkeley Mono', monospace;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: -0.035rem;
    }
    .copy {
      background: unset;
      opacity: 1;
      --button-spacing: 0.5rem;
      button {
        opacity: 1;
        background-color: var(--background-primary);

        &:after {
          background-color: var(--content-neutral-secondary);
          mask-image: url('/src/assets/icons/copy.svg');
        }

        &:before {
          border: none;
          opacity: 1;
        }

        &:hover {
          div {
            opacity: 0;
          }
          &:after {
            background-color: var(--content-accent-primary);
          }
        }
      }
    }
  }
}

section {
  padding-left: 2em;
  padding-top: 1em;
}
