@use '../variables' as *;
@use '../typography' as *;
@use '../mixins' as *;


.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: min(1248px, calc(100% - 2 * 40px));
  margin: 0 auto;


  @include for-mobile-screen-sizes {
    margin: 0 20px;
  }
}
