@use 'variables' as *;

body {
  --background-primary: #{$color-neutral-900};
  --background-secondary: #{$color-neutral-800};
  --content-neutral-primary: #{$color-neutral-white};
  --content-neutral-secondary: #{$color-neutral-300};
  --content-neutral-negative: #{$color-neutral-800};
  --content-neutral-on-brand: #{$color-neutral-white};
  --content-neutral-on-accent: #{$color-neutral-white};
  --content-accent-primary: #{$color-green-500};
  --content-accent-primary-hover: #{$color-green-600};
  --content-brand-primary: #{$color-blue-500};
  --content-brand-primary-hover: #{$color-blue-300};
  --cta-surface-neutral-primary: #{$color-neutral-600};
  --cta-surface-neutral-primary-hover: #{$color-neutral-300};
  --cta-surface-accent-primary: #{$color-green-500};
  --cta-surface-accent-primary-hover: #{$color-green-600};
  --cta-surface-brand-primary: #{$color-blue-500};
  --cta-surface-brand-primary-hover: #{$color-blue-300};
  --cta-surface-brand-secondary: #{$color-blue-700};
  --cta-surface-brand-secondary-hover: #{$color-blue-600};
  --color-border-neutral-low-contrast: #{$color-neutral-500};
  --color-border-neutral-medium-contrast: #{$color-neutral-300};
  --color-border-neutral-high-contrast: #{$color-neutral-white};
  --color-border-brand-primary: #{$color-blue-500};
  --color-border-accent-primary: #{$color-green-500};
  --blue-code-text: #{$color-other-blue};
  --orange-code-text: #{$color-other-orange};
  --yellow-code-text: #{$color-other-yellow};
  --purple-code-text: #{$color-other-purple};
  --system-error: #{$color-other-red};
  --system-warning: #{$color-other-yellow};
  --system-info: #{$color-other-blue};
  --brand-gradient: linear-gradient(
                  180deg,
                  #{$color-blue-500},
                  #{$color-other-purple}
  );
  --border-neutral-low: #{$border-neutral-low}
}

body.light {
  --background-primary: #{$color-neutral-white};
  --background-secondary: #{$color-neutral-100};
  --content-neutral-primary: #{$color-neutral-800};
  --content-neutral-secondary: #{$color-neutral-400};
  --content-neutral-negative: #{$color-neutral-white};
  --content-neutral-on-brand: #{$color-neutral-white};
  --content-neutral-on-accent: #{$color-neutral-white};
  --content-accent-primary: #{$color-green-400};
  --content-accent-primary-hover: #{$color-green-600};
  --content-brand-primary: #{$color-blue-500};
  --content-brand-primary-hover: #{$color-blue-600};
  --cta-surface-neutral-primary: #{$color-neutral-200};
  --cta-surface-neutral-primary-hover: #{$color-neutral-400};
  --cta-surface-accent-primary: #{$color-green-400};
  --cta-surface-accent-primary-hover: #{$color-green-600};
  --cta-surface-brand-primary: #{$color-blue-500};
  --cta-surface-brand-primary-hover: #{$color-blue-600};
  --cta-surface-brand-secondary: #{$color-blue-100};
  --cta-surface-brand-secondary-hover: #{$color-blue-300};
  --color-border-neutral-low-contrast: #{$color-neutral-200};
  --color-border-neutral-medium-contrast: #{$color-neutral-200};
  --color-border-neutral-high-contrast: #{$color-neutral-400};
  --color-border-brand-primary: #{$color-blue-500};
  --color-border-accent-primary: #{$color-green-400};
}
