@use 'mixins' as *;

@mixin heading-h1 {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.04em;

  @include for-tablet-screen-sizes {
    font-size: 2.5rem;
  }

  @include for-mobile-screen-sizes {
    font-size: 1.75rem;
  }
}

@mixin heading-h2 {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.06em;

  @include for-tablet-screen-sizes {
    font-size: 1.75rem;
  }

  @include for-mobile-screen-sizes {
    font-size: 1.5rem;
  }
}

@mixin heading-h3 {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.04em;

  @include for-tablet-screen-sizes {
    font-size: 1.375rem;
  }
}

@mixin heading-h4 {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: unset;

  @include for-tablet-screen-sizes {
    font-size: 1.25rem;
  }
}

@mixin heading-h5 {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.04em;

  @include for-tablet-screen-sizes {
    font-size: 1.125rem;
  }
}

@mixin heading-h6 {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include for-tablet-screen-sizes {
    font-size: 1rem;
  }
}

@mixin heading-subtitle {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.04em;
}

@mixin body-highlighted {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 500;

  @include for-mobile-screen-sizes {
    font-size: 1rem;
  }
}

@mixin body-regular {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.01em;
}

@mixin body-medium {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.01em;
}

@mixin body-description {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: -0.01em;
}

@mixin body-note {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@mixin number-l {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}

@mixin number-s {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin button-m-all-caps {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@mixin button-m {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@mixin button-s {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

@mixin button-s-all-caps {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin code-l {
  font-family: 'Berkeley Mono', monospace;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.04em;
  font-weight: 400;

  @include for-mobile-screen-sizes {
    font-size: 0.875rem;
  }
}

@mixin code-m {
  font-family: 'Berkeley Mono', monospace;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: -0.035em;
  font-weight: 400;
}

@mixin caption-all-caps {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@mixin caption-regular {
  font-family: 'Berkeley Mono', monospace;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: -0.01em;
}

@mixin link-inline-m {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.01em;
  text-decoration: underline;
}

@mixin label-m {
  font-family: 'Berkeley Mono', monospace;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

@mixin label-overline {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@mixin link-navigation {
  font-family: 'Berkeley Mono', monospace;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include for-tablet-screen-sizes {
    font-size: 1rem;
  }
}

@mixin link-footer-m {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@mixin link-footer-s {
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.02em;
}
