$color-neutral-white: #fff;
$color-neutral-100: #f7f7f7;
$color-neutral-200: #dedede;
$color-neutral-300: #a2a2a2;
$color-neutral-400: #686868;
$color-neutral-500: #585858;
$color-neutral-600: #252525;
$color-neutral-800: #161616;
$color-neutral-900: #0a0a0a;
$color-blue-100: #c6dff9;
$color-blue-300: #59acff;
$color-blue-500: #0080ff;
$color-blue-600: #005fbe;
$color-blue-700: #0e2841;
$color-green-400: #00e49a;
$color-green-500: #2ecc71;
$color-green-600: #08ae78;
$color-other-yellow: #f1c40f;
$color-other-orange: #e67e22;
$color-other-red: #e74c3c;
$color-other-purple: #8558de;
$color-other-blue: #3498db;
$radii-none: 0;
$radii-s: 4px;
$radii-full: 50%;
$duration-hover: 600ms;
$duration-fast: 300ms;
$screen-xs: 650px;
$screen-lg: 1024px;
$border-none: none;
$border-transparent: 1px solid transparent;
$border-neutral-low: 1px solid var(--color-border-neutral-low-contrast);
$border-neutral-medium: 1px solid var(--color-border-neutral-medium-contrast);
$border-neutral-high: 1px solid var(--color-border-neutral-high-contrast);
$border-neutral-low-medium: 2px solid var(--color-border-neutral-low-contrast);
$border-neutral-low-thick: 3px solid var(--color-border-neutral-low-contrast);
$border-neutral-low-dashed: 1px dashed var(--color-border-neutral-low-contrast);
$border-accent-primary: 1px solid var(--color-border-accent-primary);
$border-accent-primary-medium: 2px solid var(--color-border-accent-primary);
$border-brand-primary: 1px solid var(--color-border-brand-primary);
