@use 'variables' as *;

@mixin for-mobile-screen-sizes {
  @media screen and (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin for-tablet-screen-sizes {
  @media screen and (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin for-hover-state {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin main-grid-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 48px;

  @include for-tablet-screen-sizes {
    grid-template-columns: 100%;
    column-gap: unset;
  }
}

@mixin global-section {
  max-width: min(1248px, calc(100% - 2 * 40px));
  margin: 0 auto;

  @include for-mobile-screen-sizes {
    max-width: unset;
    margin: 0 20px;
  }
}
